.app {
  text-align: center;
}


.app h4{
	font-size: 4.5vw;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.app .right p, .app .right label{
	font-size: 4vw;
}

@media(max-aspect-ratio:9/16){
	.app h4{
		background-color:red;
		font-size: 4.5vw;
	}
}

@media(min-aspect-ratio:9/16){
	.app{
		background-color:orange;
		font-size: 4.5vw;
	}
}

@media(min-aspect-ratio:3/4){
	.app{
		background-color:yellow;
	}
}

@media(min-aspect-ratio:1/1){
	.app{
		background-color:green;
	}
	.app p{
		font-size: 3.5vw;
	}
	.app .right p, .app .right label{
		font-size: 2.5vw;
	}
	.left{
		float: left;
    width: 66vw;
    height: 60vw;
	}
	.right{
		float: right;
    width: 33vw;
    height: 60vw;
	}
}

@media(min-aspect-ratio:4/3){
	.app{
		background-color:blue;
	}
	.left{
		float: left;
    width: 66vw;
	}
	.right{
		float: right;
    width: 33vw;
    height:inherit;
	}
}

@media(min-aspect-ratio:16/9){
	.app{
		background-color:purple;
	}
	.left{
		float: left;
    width: 50vw;
	}
	.right{
		float: right;
    width: 50vw;
	}
}