.app {
  text-align: center;
  height: 100vh;
}

.app h4, .app p, .app label{
	font-size: 4vw;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.game-space, .non-board-space, .message-space{
	width: 90vw;
	margin: 2vw auto 0;
}

@media(max-aspect-ratio:9/16){
	.app{
		background-color:red;
	}
	.game-space, .non-board-space, .message-space{
		width: 90vw;
	}
}

@media(min-aspect-ratio:9/16){
	.app{
		background-color:orange;
	}
	.app p, .app label{
		font-size: 3vw;
	}
	.game-space, .non-board-space, .message-space{
		width: 81vw;
	}
}

@media(min-aspect-ratio:3/4){
	.app{
		background-color:yellow;
	}
	.game-space, .non-board-space, .message-space{
		width: 72vw;
		margin: 1vw auto 0;
	}
}

@media(min-aspect-ratio:9/10){
	.app{
		background-color:green;
	}
	.app p{
		font-size: 4vh;
	}
	.game-space{
		width: 66vw;
		height: 60vh;
		margin: 2vw auto 0;
		float: left;
	}
	.non-board-space{
		width: 30vw;
		height: 60vh;
		margin: 2vw auto 0;
		float: right;
	}
	.message-space{
		width: 100vw;
	}
}

@media(min-aspect-ratio:4/3){
	.app{
		background-color:blue;
	}
	.game-space, .non-board-space, .message-space{
		height: inherit;
	}
	.game-space{
		width: 60vw;
	}
	.non-board-space, .message-space{
		margin: 2vw auto 0;
		width: 36vw;
		float: right;
	}

}

@media(min-aspect-ratio:16/9){
	.app{
		background-color:purple;
	}
	.game-space, .non-board-space, .message-space{
		width: 50vw;
		height: 50vw;
		margin: 2vw auto 0;
	}
	.game-space{
		float:left;
	}
	.non-board-space, .message-space{
		float: right;
		height: inherit;
	}
}