.board{
  margin: 0 auto;
}

@media(max-aspect-ratio:9/16){
  .board{
    font-size: 4vh;
    max-height: 90vw;
    max-width: 90vw;
  }
}

@media(min-aspect-ratio:9/16){
  .board{
    font-size: 4vh;
    max-height: 81vw;
    max-width: 81vw;
  }
}

@media(min-aspect-ratio:3/4){
  .board{
    font-size: 3vh;
    max-height: 72vw;
    max-width: 72vw;
  }
}

@media(min-aspect-ratio:9/10){
  .board{
    height: 64vw;
  }
}

@media(min-aspect-ratio:4/3){
  .board{
    width: 63vw;
    height: 63vw;
  }
}


@media(min-aspect-ratio:16/9){
  .board{
    height: 54vw;
    width: 54vw;
  }
}
