.board{
	border:4px solid black;
	margin: 0 auto;
}

@media (orientation: landscape){
  .board{
    height: 90vh;
    width: 90vh;
  }
}

@media (orientation: portrait){
  .board{
    height: 90vw;
    width: 90vw;
  }
}