.gamesInfo div{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

@media(min-aspect-ratio:9/10){
  .gamesInfo{
		margin: 0 auto 1vh;
  }
  .gamesInfo div{
  	width: 24vw;
  }
	.gamesInfo p, .gamesInfo label{
		font-size: 2.5vh;
	}
}

@media(min-aspect-ratio:4/3){
  .gamesInfo{
    width: 29vw;
  }
  .gamesInfo div{
    width: 13vw;
  }
  .gamesInfo div:first-child{
    width: 16vw;
  }
}


@media(min-aspect-ratio:16/9){
  .gamesInfo{
    width: 45vw;
  }
  .gamesInfo div{
  	width: 22vw;
  }
}
