.header {
  background-color: #222;
  color: white;
}
.header h2{
  margin:0;
}


@media (orientation: landscape){
  .header{
    height: 10vh;
    padding: .5vh;
  }
  .header h2{
    padding: 1vh;
  }

}

@media (orientation: portrait){
  .header{
    height: 10vw;
  }
  .header h2{
    padding: 1vw;
  }
}