.header {
  background-color: #111;
  color: #CD214F;
  width: 100vw;
  position: relative;
}
.header h2{
  margin:0;
}

@media (orientation: portrait){
  .header h2{
    padding: 1vw;
  }
}

@media(max-aspect-ratio:9/16){
  .header h2{
    font-size: 3vh;
  }
}

@media(min-aspect-ratio:9/16){
  .header h2{
    font-size: 6vw;
  }
}

@media(min-aspect-ratio:3/4){
  .header h2{
    font-size: 5vh;
  }
}


@media (orientation: landscape){
  .header{
    padding: .5vh;
  }
  .header h2{
    padding: 1vh;
  }
}
