.header {
  background-color: #222;
  color: white;
}


@media (orientation: landscape){
  .header{
    height: 10vh;
  	padding: 1vh;
  }
}

@media (orientation: portrait){
  .header{
    height: 10vw;
    padding: 1vh;
  }
}