.inkChoice{
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 50%;
}

@media(max-aspect-ratio:9/16){
  .inkChoice{
    border: .5vw solid black;
    height: 7vw;
    width: 7vw;
    margin: 0 .5vw;
  }
  .inkChoice h4{
    text-align: center;
    margin: 1.25vw 0 0 0;
  }
}

@media(min-aspect-ratio:9/16){
  .inkChoice{
    border: .5vw solid black;
    height: 6vw;
    width: 6vw;
    margin: 0 .5vw;
  }
  .inkChoice h4{
    text-align: center;
    margin: .5vw 0 0 0;
  }
}

@media(min-aspect-ratio:3/4){
  .inkChoice{
    border: .5vw solid black;
    height: 5vw;
    width: 5vw;
    margin: 0 .5vw;
  }
  .inkChoice h4{
    text-align: center;
    margin: .4vw 0 0 0;
  }
}

@media(min-aspect-ratio:9/10){
  .inkChoice h4{
    font-size: 3.5vw;
     margin: 0.5vw;
  }
  .inkChoice{
    border: .5vw solid black;
    height: 4.5vw;
    width: 4.5vw;
    margin: .5vw .5vw .25vw;
  }
}

@media(min-aspect-ratio:4/3){
  .inkChoice h4{
    font-size: 3vw;
     margin: .1vw 0 0 0;
  }
  .inkChoice{
    border: .3vw solid black;
    height: 3.5vw;
    width: 3.5vw;
    margin: .75vw .75vw 0;
  }
}

@media(min-aspect-ratio:16/9){
  .inkChoice h4{
    font-size: 2vw;
     margin: .4vw 0 0 0;
  }
  .inkChoice{
    border: .25vw solid black;
    height: 3vw;
    width: 3vw;
    margin: .25vw;
  }
}