.message{
	color: #CD214F;
}

@media (orientation: landscape){
  .message{
    width: 81vh;
		margin: 4vh auto 0;
  }
}

@media (orientation: portrait){
  .message{
    width: 81vw;
    margin: 4vw auto 0;
  }
}

@media(min-aspect-ratio:1/1){
  .message{
    width: 30vw;
    margin: 2vw 1vw;
  }
}

@media(min-aspect-ratio:16/9){
  .message{
    width: 45vw;
    margin: 2vw 1vw;
    float: right;
  }
}
