.new-game{
	background-color: rgba(255,255,255,.5);
	color: black;
	font-size: 5vw;
	border: .5vw solid black;
	width: 45vw;
	padding: 1.5vw;
  box-shadow: 0vh .5vh .5vh rgba(0, 147, 255,.15);
  transition: all 1s;
}

.new-game:hover{
  background-color: rgba(0, 147, 255,.1);
  box-shadow: 0vh .5vh .5vh rgba(0, 147, 255, .25);
}

@media(min-aspect-ratio:3/4){
	.new-game{
		width: 30vw;
		font-size: 3vw;
		padding: .75vw;
	}
}

@media (orientation: landscape){
	.new-game{
		font-size: 5vh;
    border: .5vh solid black;
    width: 45vh;
    padding: 1.5vh;
	}	
}
