.pencil-mark{
  display: inline-block;
	color:grey;
  text-shadow: 0 0 1px white;
}

.pencil-mark-selected{
	color: black;
  font-weight: bold;
}

.pencil-mark{
  width: 2.8vw;
  height: 2.8vw;
}

@media(min-aspect-ratio:9/16){
  .pencil-mark{
    width: 2.5vw;
    height: 2.5vw;
  }
}

@media(min-aspect-ratio:3/4){
  .pencil-mark{
    width: 2.1vw;
    height: 2.1vw;
  }
}

@media(min-aspect-ratio:9/10){
  .pencil-mark{
    width: 1.5vw;
    height: 1.4vw;
  }
}

@media(min-aspect-ratio:10/9){
  .pencil-mark{
    padding: 0 .1vh;
    width: 1.6vh;
    height: 1.6vh;
  }
}