.pencilChoice{
  display: inline-block;
  background-color: white;
  color: grey;
  border-radius: 50%;
}
.pencilChoice h4{
  text-align: center;
}

@media (orientation: landscape){
  .pencilChoice h4{
    /*font-size: 4vh;*/
    margin: 1vh 0 0 0;
  }
  .pencilChoice{
    border: .5vh solid grey;
    height: 6vh;
    width: 6vh;
    margin: 0 .5vh;
  }
}

@media (orientation: portrait){
  .pencilChoice h4{
    font-size: 4vw;
    margin: 1vw 0 0 0;
  }
  .pencilChoice{
    border: .5vw solid grey;
    height: 6vw;
    width: 6vw;
    margin: 0 .5vw;
  }
}

/*@media(min-aspect-ratio:16/9){
  .pencilChoice h4{
    font-size: 2vw;
     margin: .33vw 0 0 0;
  }
  .pencilChoice{
    border: .25vw solid grey;
    height: 3vw;
    width: 3vw;
    margin: .25vw;
  }
}
*/


@media(min-aspect-ratio:1/1){
  .pencilChoice h4{
    font-size: 3.5vw;
     margin: 0;
  }
  .pencilChoice{
    border: .5vw solid grey;
    height: 4vw;
    width: 4vw;
    margin: .5vw .5vw 0;
  }
}

@media(min-aspect-ratio:4/3){
  .pencilChoice h4{
    font-size: 3vw;
     margin: .1vw 0 0 0;
  }
  .pencilChoice{
    border: .3vw solid grey;
    height: 3.5vw;
    width: 3.5vw;
    margin: .75vw .75vw 0;
  }
}

@media(min-aspect-ratio:16/9){
  .pencilChoice h4{
    font-size: 2vw;
     margin: .4vw 0 0 0;
  }
  .pencilChoice{
    border: .25vw solid grey;
    height: 3vw;
    width: 3vw;
    margin: .25vw;
  }
}