@media(max-aspect-ratio:9/16){
  .pencilChoices{
    margin: 4vw auto 0;
    width: 90vw;
  }
}

@media(min-aspect-ratio:9/16){
  .pencilChoices{
    margin: 2vw auto 0;
    width: 81vw;
  }
}

@media(min-aspect-ratio:3/4){
  .pencilChoices{
    width: 72vw;
  }
}

@media(min-aspect-ratio:9/10){
  .pencilChoices{
    margin: 4vw auto 0;
    width: 28vw;
    margin: 2vw 1vw 1vw;
  }
}

@media(min-aspect-ratio:4/3){
  .pencilChoices{
    width: 30vw;
    margin: 2vw .5vw;
  }
}


@media(min-aspect-ratio:16/9){
  .pencilChoices{
    width: 45vw;
  }
}
