.pencil-mark{
  display: inline-block;
	color:grey;
}

.pencil-mark-selected{
	color: black;
}

@media (orientation: landscape){
	.pencil-mark{
    margin: 0 .2vh;
    width: 2vh;
    height: 2vh;
	}
}

@media (orientation: portrait){
	.pencil-mark{
    padding: 0 .2vw;
    width: 2vw;
    height: 2vw;
	}
}