/*@media (orientation: landscape){
  .row{
    max-height: 8vh;
  }
}
*/
@media (orientation: portrait){
  .row{
    max-height: 9vw;
  }
}

@media(min-aspect-ratio:1/1){
  .row{
    max-height: 5vw;
  }
}
