@media(max-aspect-ratio:9/16){
  .row{
    max-height: 10vw;
  }
}

@media(min-aspect-ratio:9/16){
  .row{
    max-height: 9vw;
  }
}

@media(min-aspect-ratio:3/4){
  .row{
    max-height: 8vw;
  }

}

@media(min-aspect-ratio:9/10){
  .row{
    max-height: 7vw;
  }
}

@media(min-aspect-ratio:4/3){
  .row{
    max-height: 7vw;
  }
}