.square{
  float:left;
}

.selected{
  background-color: rgba(73, 147, 255,.15);
}

.square p.inkmark{
  color: #0147FA;
}

.square p.inkmark.error{
  color: #CD214F;
}

@media (orientation: landscape){
  .square{
    border: .5vh solid silver;
    height: 8vh;
    width: 8vh;
  }
  .square p{
    margin: 1.5vh 0 0 0;
    text-align: center;
  }

  .row-divider-left{
    border-left: .5vh solid #666362;
  }
  .row-divider-right{
    border-right: .5vh solid #666362;
  }
  .row-divider-top{
    border-top: .5vh solid #666362;
  }
  .row-divider-bottom{
    border-bottom: .5vh solid #666362;
  }
  .board-left{
    border-left: 1vh solid black;
  }
  .board-right{
    border-right: 1vh solid black;
  }
  .board-top{
    border-top: 1vh solid black;
  }
  .board-bottom{
    border-bottom: 1vh solid black;
  }
}

@media (orientation: portrait){
  .square{
    border: .5vw solid silver;
    height: 8vw;
    width: 8vw;
  }
  .square p{
    margin: 0;
    text-align: center;
  }
  .row-divider-left{
    border-left: .5vw solid #666362;
  }
  .row-divider-right{
    border-right: .5vw solid #666362;
  }
  .row-divider-top{
    border-top: .5vw solid #666362;
  }
  .row-divider-bottom{
    border-bottom: .5vw solid #666362;
  }
  .board-left{
    border-left: 1vw solid black;
  }
  .board-right{
    border-right: 1vw solid black;
  }
  .board-top{
    border-top: 1vw solid black;
  }
  .board-bottom{
    border-bottom: 1vw solid black;
  }
}

@media(max-aspect-ratio:9/16){
  .square{
    height: 9vw;
    width: 9vw;
  }
  .square p{
    font-size: 6vw;
    padding-top:1.5vw;
  }
}

@media(min-aspect-ratio:9/16){
  .square{
    max-height: 8vw;
    max-width: 8vw;
  }
  .square p{
    font-size: 5vw;
    padding-top:1.25vw;
  }
}

@media(min-aspect-ratio:3/4){
  .square{
    height: 7vw;
    width: 7vw;
  }
  .square p{
    font-size: 4vw;
    padding-top:1.25vw;
  }
}

@media(min-aspect-ratio:9/10){
  .square{
    height: 5vh;
    width: 5vh;
  }
  .square p{
    font-size: 3.5vw;
    padding-top:.75vw;
    margin:0;
  }
}

@media(min-aspect-ratio:10/9){
  .square{
    height: 6vh;
    width: 6vh;
  }
  .square p{
    font-size: 4vh;
    padding-top:.5vw;
  }
}
